go 1.24.1

use (
	./connector/email
	./connector/feishu
	./connector/github
	./connector/gitlab
	./connector/grafana
	./connector/webhook
	./core
	./sandbox/docker
	./sandbox/kubernetes
	./store/mongodb
	./store/redis
	./store/sqlx
	./test
)

replace (
	github.com/ishi-o/golem/connector/email v0.2.1 => ./connector/email
	github.com/ishi-o/golem/connector/github v0.2.1 => ./connector/github
	github.com/ishi-o/golem/connector/gitlab v0.2.1 => ./connector/gitlab
	github.com/ishi-o/golem/connector/grafana v0.2.1 => ./connector/grafana
	github.com/ishi-o/golem/connector/webhook v0.2.1 => ./connector/webhook
)
